@model EntityLayer.Concrete.Admin

@{
    ViewBag.Title = "EditAdminPassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Parolası Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("EditAdminPassword", "AdminUser", FormMethod.Post))
{
    @Html.HiddenFor(x => x.AdminID)
    @Html.HiddenFor(x => x.AdminName)
    @Html.HiddenFor(x => x.AdminSurname)
    @Html.HiddenFor(x => x.AdminUserName)
    @Html.HiddenFor(x => x.AdminRole)
    @Html.HiddenFor(x => x.AdminStatus)
    @Html.Label("Parola")
    <input class="form-control" type="password" name="AdminPassword" />
    @Html.ValidationMessageFor(x => x.AdminPassword, "", new { @class = "text-danger" })
    <br /><br />
    <button class="btn btn-success">Güncelle</button>
}
