@model EntityLayer.Concrete.Skill

@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Yetenek Ekleme Sayfası</h2>
<br />
@using (Html.BeginForm("AddSkill", "Skill", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Yetenek Adı")
        @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SkillName, "", new { @class = "text-danger" })
        <br /><br />
        @Html.Label("Yetenek Düzeyi (100 Üzerinden)")
        @Html.TextBoxFor(x => x.SkillScore, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SkillScore, "", new { @class = "text-danger" })
        <br /><br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}

